/* Stock Info specifieke stijlen */
body {
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 5px;
}

h1 {
    font-weight: 700;
    color: #212529;
}

.table {
    margin-top: 20px;
}

.text-danger {
    font-size: 1.1rem;
}
